<!DOCTYPE html>
<html>
   <body>

      <h3>Students - Flask SQLAlchemy example</h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "open">Open</label><br>
         <input type = "text" name = "open" placeholder = "Open" /><br>
         <label for = "high">High</label><br>
         <input type = "text" name = "high" placeholder = "High" /><br>
         <label for = "low">Low</label><br>
         <input type = "text" name = "low" placeholder = "Low" /><br>
         <label for = "close">Close</label><br>
         <input type = "text" name = "close" placeholder = "Close" /><br>
         <input type = "submit" value = "Submit" />
      </form>

   </body>
</html>